@font-face{
  font-family:'Intro Head';
  src: url(../fonts/introheadr-base-webfont.woff) format('woff'),
  url(../fonts/introheadr-base-webfont.woff2) format('woff2'),
  url(../fonts/introrustg-base2line-webfont.woff) format('woff')
  url(../fonts/introrustg-base2line-webfont.woff2) format('woff2'),
  url(../fonts/introscriptr-h2base-webfont.woff) format('woff'),
  url(../fonts/introscriptr-h2base-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'The GodFather Letter';
  src: url(../fonts/behance-65c1c21b1d3d2.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'GIANTS ITALIC Font';
  src: url(../fonts/GiantsItalicPersonalUseBoldItalic-x3q6m.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: Arial ;
}
body{
  margin: 0;
  min-width: 300px;
}
.topH{
  color: rgb(100, 100, 98);
  font-family:'GIANTS ITALIC Font','The godfather Letter','Intro Head', Arial ;
  font-size: 40px;
  justify-self: center;
  text-wrap: nowrap;
  animation: typing 3s steps(30) infinite alternate-reverse;
  width: 14ch;
  overflow: hidden;
}
@keyframes typing{
  from {
    width: 0ch;
  }
}
img{
  height: inherit;
  width: 100%;
  border-radius: 1rem;
}
.container{
  width: 93%;
  height: 80vh;
  display: flex;
  justify-self:center ;
}
.sidebar{
  width: 50%;
  height: 100%;
}
.content{
  width: 46%;
  padding: 0px 40px;
  height: 100%;
}
.loginIP{
  width: 80%;
  height: 40px;
  border-radius: 11px;
  border: 1px solid rgb(129, 128, 128);
}
.login, .signup {
  display: block;
  margin: 10px 0px;
  width: 80%;
  height: 30px;
  border: 0px solid;
  background-color:rgb(9, 9, 175);
  color: white;
  border-radius: 10px;
}
.inputD{
  margin: 17px 0px ;
  font-weight: 600;
}